@import "variables";

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background: $grey-blue;
    font-family:'Ubuntu';
}

//step-1

.sidebar {
    background: url('/assets/images/bg-sidebar-desktop.svg');
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 250px;
    background-repeat: no-repeat;
    padding: 30px;
    border-radius: 10px;
    gap: 20px;
}

.page {
    padding: 20px 70px;
}


input {
    border-radius: 6px;
    padding: 5px;
    border: 1px solid $grey;
    color: #bebfc4;
    &:focus {
        border: 1px solid $purple;
        outline: none;
        color: black;
    }
    &:focus-visible {
        border: 1px solid $purple;
        outline: none;
        color: black;
    }
    
}

input[type="submit"] {
    float: right;
    padding: 10px 15px;
    color: white;
    background: $blue;
    margin-right: 70px;
}

.previous-step {
    display: none;
    &.previous-step-active {
        display: block;
    }
}

.step {
    gap: 18px;
    display: none;
    .step-details {
        span {
            color: white;
            text-transform: uppercase;
            &:nth-child(1) {
                opacity: 0.6;
            }
        }
    }
    &.step-active {
        .step-number {
            background: $grey-blue;
            color: black;
        }
    }
}
.step-1-inner {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.step-number {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.page {
    display: none;
    &.page-active {
        display: block;
    }
}

.next-step-inactive {
    display: none;
}

input[type=radio] {
    opacity: 0;
}

.select-plan label {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.select-plan form {
    gap: 10px;
}

form label img {
    width: 27px;
    height: 27px;
}
